<div class="container-order">
    <div class="first-column">
        <p class="msg">We are grateful to have partners like KlikniJadi to help us with delivery, You can order through
            them or give us a call and order directly for a pickup <br><br> <span id="number"
                >📱 02 321 4350</span> </p>
        <a href="https://www.kliknijadi.mk/mk/restaurant/GOSTILNICA-KA---SKARA-NA-KILO"><button class="order">
                KlikniJadi</button></a>
    </div>
    <div class="second-column">
    <p class="work-time">Work Hours <br> Monday 8h-00h <br> Tuesday 8h-00h <br> Wednesday 8h-00h <br> Thursday
        8h-00h <br>Friday 8h-00h <br> Saturday 8h-01h <br> Sunday 8h-01h <br><br>*Kitchen Closes at 23h</p>
    </div>

</div>