<div class="background">

<div class="container1">

<div class="firstSection">
    <div class="imgWrap">
        <img class="first-img" src="assets/images/bbq 1.png" alt="bbq image">
    </div>

<div class="orderColumn">
<p class="orderText">CRAVING FOR SOME <br> DELICIOUS FOOD?</p>
<button class="orderButton" routerLink="/takeaway-router" >ORDER NOW</button>
    </div>
</div>  

<div class="spacer"></div>

<div class="secondSection">
    <div class="menuColumn">
    <p class="menuText1">Hungry Yet?</p>
    <p class="menuText2">Check Out Our Menu</p>
    <button class="viewMenuButton" routerLink="/menu-router">View Menu</button>
    </div>
    <div class="imgWrap">
<img src="assets/images/bbq 2.png" alt="" class="second-img">
    </div>
</div>

<div class="thirdSection">
    <div class="flex1">
        <img src="../../../assets/images/inside-img1.jpg" alt="inside Img">
    </div>
    <div class="flex2">
        
        <p class="reserve-title">READY TO COME TRY IT?</p>
        <p class="reserve-info">Come on over and check us out!
            Reserveration not needed, but we’ll
            be happy to save you a seat.</p>
        <button class="reserveButton" routerLink="/location-router">Reserve a Spot</button>
    </div>
</div>
</div>
  </div>